<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>A11F629A-ECF3-413E-B2EC-6C6F8C33A243</key>
		<dict>
			<key>HV</key>
			<integer>95</integer>
			<key>OH</key>
			<integer>78</integer>
			<key>OV</key>
			<integer>101</integer>
			<key>nV</key>
			<integer>92</integer>
			<key>oH</key>
			<integer>74</integer>
			<key>oV</key>
			<integer>99</integer>
		</dict>
		<key>BCC09A48-EAE1-493E-95CB-92D2C26BC05D</key>
		<dict>
			<key>HV</key>
			<integer>31</integer>
			<key>OH</key>
			<integer>29</integer>
			<key>OV</key>
			<integer>32</integer>
			<key>nV</key>
			<integer>30</integer>
			<key>oH</key>
			<integer>28</integer>
			<key>oV</key>
			<integer>31</integer>
		</dict>
		<key>F257A41E-77B2-4FB8-8247-C188CBBE1401</key>
		<dict>
			<key>HV</key>
			<integer>206</integer>
		</dict>
		<key>UUID0</key>
		<dict>
			<key>HH</key>
			<integer>158</integer>
			<key>HV</key>
			<integer>206</integer>
			<key>OH</key>
			<integer>146</integer>
			<key>OV</key>
			<integer>214</integer>
			<key>nV</key>
			<integer>198</integer>
			<key>nd</key>
			<integer>144</integer>
			<key>oH</key>
			<integer>142</integer>
			<key>oV</key>
			<integer>203</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>A11F629A-ECF3-413E-B2EC-6C6F8C33A243</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>1</integer>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>92</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Z</string>
		<string>a</string>
		<string>aacute</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>z</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>asterisk</string>
		<string>at</string>
		<string>backslash</string>
		<string>bar</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>brokenbar</string>
		<string>bullet</string>
		<string>cent</string>
		<string>colon</string>
		<string>comma</string>
		<string>copyright</string>
		<string>currency</string>
		<string>dagger</string>
		<string>degree</string>
		<string>divide</string>
		<string>dollar</string>
		<string>ellipsis</string>
		<string>emdash</string>
		<string>endash</string>
		<string>equal</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>figuredash</string>
		<string>fraction</string>
		<string>greater</string>
		<string>hyphen</string>
		<string>infinity</string>
		<string>less</string>
		<string>minus</string>
		<string>multiply</string>
		<string>numbersign</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>percent</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>plus</string>
		<string>product</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>tiddle</string>
		<string>tilde</string>
		<string>underscore</string>
		<string>yen</string>

### INJECT ###
	</array>
</dict>
</plist>
